<html>
<body>
<form action="/saving/" method="post">
    {% csrf_token %}
    <table align="center" border="2">
        <tr>
            <th colspan="2"> Employee Registration</th>
        </tr>
        {{ home }}
<tr>
        <td>name</td>
        <td>age</td>
        <td>dept</td>
        <td>salary</td>
</tr>

    {% for x in data %}
        {{ x.name }}
        {{ x.age }}
        {{ x.dept }}
        {{ x.salary }}

    {% endfor %}
        <tr>
            <th colspan="2"><button type="submit">SAVE</button> </th>
        </tr>
    </table>
</form>
</body>
</html>